<h1>Trainer Messaging</h1>
<p><%= link_to "User Sign Up", new_user_url %></p>
<p><%= link_to "Trainer Sign Up", new_trainer_url %></p>
<p><a href="/session_users/new">User Log in</a></p>
<p><a href="/logout">Logout User</a></p>
<p><a href="/session_trainers/new">Trainer Log in</a></p>
<p><a href="/logout_trainer">Logout Trainer</a></p>